



  <!-- sidebar -->


 

 <div class="note-10">
  <div class="container">
    <div class="row">
        <div class="col-xxl-3 col-xl-3 col-lg-4 col-md-5 col-sm-12 menu_text">
            <div class="card mt-5 shadow-sm note-8">
                <div class="card-body">
                    <p>Manage my network</p>
                    <li class=" nav-items p-0 d-flex flex-row menu-tet mt-2 ">
                        <i class="fa fa-users text-secondary p-0" aria-hidden="true"></i>
                        <a class=" nav-link active-link text-secondary mx-3" aria-current="page" href="#"> 
                          Connections </a>  
                          </li>
                  <div class="connentions">
                          <li class=" nav-items p-0 d-flex flex-row menu-tet mt-3">
                            <i class="fa fa-user text-secondary p-0" aria-hidden="true"></i>
                            <a class=" nav-link active-link text-secondary mx-4" aria-current="page" href="#"> 
                              Following & Follower </a>  
                              </li>

                              <li class=" nav-items p-0 d-flex flex-row menu-tet mt-3">
                                <i class="fa fa-users text-secondary p-0" aria-hidden="true"></i>
                                <a class=" nav-link active-link text-secondary mx-3" aria-current="page" href="#"> 
                                  Groups </a>  
                                  </li>
                                  <li class=" nav-items p-0 d-flex flex-row menu-tet mt-3">
                                    <i class="fa-solid fa-calendar-days text-secondary p-0" aria-hidden="true"></i>
                                    <a class=" nav-link active-link text-secondary mx-3" aria-current="page" href="#"> 
                                      Events </a>  
                                      </li>
                                      <li class=" nav-items p-0 d-flex flex-row menu-tet mt-3">
                                        <i class="fa-regular fa-building text-secondary p-0" aria-hidden="true"></i>
                                        <a class=" nav-link active-link text-secondary mx-3" aria-current="page" href="#"> 
                                          page </a> 
                                          <span class="city-10 text-secondary">1</span>  
                                          </li>
                                          <li class=" nav-items p-0 d-flex flex-row menu-tet mt-3">
                                            <i class="fa-solid fa-pager text-secondary p-0" aria-hidden="true"></i>
                                            <a class=" nav-link active-link text-secondary mx-3" aria-current="page" href="#"> 
                                              Newsletters  </a>  
                                              <span class="city-9 text-secondary">1</span>
                                              </li>
                                              <li class=" nav-items p-0 d-flex flex-row menu-tet mt-3">
                                                <i class="fa-solid fa-hashtag text-secondary p-0" aria-hidden="true"></i>
                                                <a class=" nav-link active-link text-secondary mx-3" aria-current="page" href="#"> 
                                                  Newsletters</a>  
                                                  </li>
                                                </div>
                                                  <button class="btn text-secondary">Show less <i class="fa-solid fa-angle-up text-secondary mx-2"></i></button>
                                          <hr>
                                        </div>
                                          <div class=" my-0 mx-2">
                                            <img src="../../../assets/image.png" alt="" class="image">
                                          </div>
                                          <div class=" text-center">
                                            <span  class="text-secondary small">About</span>
                                            <span class="text-secondary m-3 text-center small">Accesibility</span>
                                            <span class="text-dark small">Help center</span><br>
                                            <span class="text-secondary small">Privacy & terms</span>
                                            
                                            <span class="text-secondary mx-3 small">Accesibility</span>
                                            <span class="text-secondary mx-3 small">Ad choices</span>
                                            <span class="text-secondary mx-3 small">Advertising</span>
                                            <span class="text-dark small mx-3">Bussiness services</span>
                                            <span class="text-secondary mx-3 small">Get thee linked in app</span>
                                            <span class="text-secondary  small mx-3">More</span>
                                            <p class="mt-2"><strong class="text-primary mx-2">Linked in</strong>Linked in corporation &copy; 2023</p>
                          
                                          </div>

                
              </div>
        </div>

        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-7 col-sm-12 tex-menu">
          <div class="card mt-5 shadow-sm note-7">
            <div class="card-body  d-flex flex-row justify-content-between p-0 my-2 mx-2">

  No pending invitations.
  <p class="text-secondary">Manage</p>
            </div>
          </div>
          <div class="card mt-3 p-0 shadow-sm note-7">
            <div class="card-body p-0 mx-3">
              <p class="text-black city-11">Achieve your goals Faster with Premium
                <br>
                <span class="text-secondary small">See who's viewed your profile and directly message members outside of your network.</span>
              </p>
              <div class="d-flex imag-3 p-0">
                <img src="../../../assets/imag.jpg" alt="" class="image-2">
                <!-- <img src="../../../assets/imag.jpg" alt="" class="image-2">
                <img src="../../../assets/imag.jpg" alt="" class="image-2"> -->
                <p class="text-secondary small mt-2 mx-2">Millions of members use Premium</p>
              </div>
              <button class="btn mt-5 p-1 rounded-pill mx-3 btn-imag">Try Premium for free PKR</button>
            <p class="text-secondary mt-2 imag-5">1-month free trial. We'll send you a reminder 7 days before your trial ends.</p>
            </div>
          </div>
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-row justify-content-between">
                  <p class="mt-2">Popular people to follow</p>
                  <button class="btn text-secondary">See all</button>
                </div>
              </div>
                <div class="row mx-1 ">
                  <div class="card col-lg-4 col-md-12 col-sm-12 p-0">
                      <div class="note-9">
                        <img src="../../../assets/aiya.jpg" alt="" class="imag4 m-3">
                      </div>
                    <div class="mx-3">
                    <p class="mt-4"><strong>Giorgia Meloria</strong><br>
                    <small class="text-secondary small">Presidente Consiglio dei Ministri
                    272,634 followers</small>
                   </p>
                  <button class="btn btn-outline-primary rounded-pill p-1 w-100  mb-2">Follow</button>
                  </div> 
                  </div>
                
                  <div class="card col-lg-4 col-md-12 col-sm-12 p-0 ">
                    <div class="note-9">
                      <img src="../../../assets/hmna.jpg" alt="" class="imag4 m-3">
                    </div>
                  <div class="mx-3">
                  <p class="mt-4"><strong>Giorgia Meloria</strong><br>
                  <small class="text-secondary small">Presidente Consiglio dei Ministri
                  272,634 followers</small>
                 </p>
                <button class="btn btn-outline-primary rounded-pill p-1 w-100  mb-2">Follow</button>
                </div> 
                </div>

            
                <div class="card col-lg-4 col-md-12 col-sm-12 p-0">
                  <div class="note-9">
                    <img src="../../../assets/imag.jpg" alt="" class="imag4 m-3">
                  </div>
                <div class="mx-3">
                <p class="mt-4"><strong>Giorgia Meloria</strong><br>
                <small class="text-secondary small">Presidente Consiglio dei Ministri
                272,634 followers</small>
               </p>
              <button class="btn btn-outline-primary rounded-pill p-1 w-100  mb-2">Follow</button>
              </div> 
              </div>



            </div>

            <!-- card2 -->
            <div class="row mx-1 mt-2 ">
              <div class="card col-lg-4 col-md-12 col-sm-12 p-0">
                  <div class="note-9">
                    <img src="../../../assets/mathika.jpg" alt="" class="imag4 m-3">
                  </div>
                <div class="mx-3">
                <p class="mt-4"><strong>Giorgia Meloria</strong><br>
                <small class="text-secondary small">Presidente Consiglio dei Ministri
                272,634 followers</small>
               </p>
              <button class="btn btn-outline-primary rounded-pill p-1 w-100  mb-2">Follow</button>
              </div> 
              </div>
              
              <div class="card col-lg-4 col-md-12 col-sm-12 p-0 ">
                <div class="note-9">
                  <img src="../../../assets/apniya.jpg" alt="" class="imag4 m-3">
                </div>
              <div class="mx-3">
              <p class="mt-4"><strong>Giorgia Meloria</strong><br>
              <small class="text-secondary small">Presidente Consiglio dei Ministri
              272,634 followers</small>
             </p>
            <button class="btn btn-outline-primary rounded-pill p-1 w-100  mb-2">Follow</button>
            </div> 
            </div>

        
            <div class="card col-lg-4 col-md-12 col-sm-12 p-0">
              <div class="note-9">
                <img src="../../../assets/nawarat.jpg" alt="" class="imag4 m-3">
              </div>
            <div class="mx-3">
            <p class="mt-4"><strong>Giorgia Meloria</strong><br>
            <small class="text-secondary small">Presidente Consiglio dei Ministri
            272,634 followers</small>
           </p>
          <button class="btn btn-outline-primary rounded-pill p-1 w-100  mb-2">Follow</button>
          </div> 
          </div>



        </div>
          </div>  

 


                

              
            </div>
            

            
            








 





             </div> 
          </div>
        </div>
        <!-- </div> -->
    




