/* /* /* .city2{
    font-size: 30px;
} */

 .active{
    font-size: 20px;

}
.city-3{
    font-size: 13px;
}
.city-16{
    margin-left: 50rem;
}

.icons{
    font-size: 18px;
}
body{
    background-color: grey;
}
.home-border:hover{
    border-bottom: 2px solid black;
}
.city2{
    font-size: 13px;
} 


.city-9{
    margin-left: 80px;

}
.city-10{
    margin-left: 140px;
}
.image{
    height: 250px;
    width: 250px;

}
.image-2{
    height: 40px; 
    width: 40px;
    border-radius: 50%;

} 


@media screen and (max-width: 980px){
    .icons{
        font-size: 15px;
        margin-left: 0px;

    }


}

  @media screen and (max-width: 1100px){

    .icons{
        font-size: 15px;
        margin-left: 0px;

    }
    .city-16{
        margin-left: 10rem;
    }
    /* .search-bar{
        display: none !important;
    } */
    .active{
        font-size: 20px;
        padding: 0px;

    }
        .active{
        font-size: 20px;

    }
    .menu-tet{
        font-size: 15px;
        padding: 0px;
    }
 


} 
@media screen and (max-width: 1200px) {

    .icons{
        font-size: 17px;
        margin-left: 50px;
    }
    .connentions{
        display: none !important;
    }
 
    .active{
        font-size: 15px;
    }
    .menu-tet{
        font-size: 15px;
    }
    .active-link{
        font-size: 14px;
    }
     .city2{
        font-size: 15px;
      
    } 
    .city3{
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .home{
        border-bottom:none !important;

    }
    .city4{
        display: none !important;
    }
 .card-ing{
    margin-left: 170px; 

}
  .city3{
    margin-left: 0px;
}

.city-1{
    display: none !important;
}
.search-bar{
   margin-left: 10px !important;
   display: none !important;
}
.city-16{
    margin-left: 0px;
}
.city-2{
    width: 20rem;
}
/* .city-3{
    display: none !important;
}  */
.city2{
    font-size: 13px;
} 
.city-4{
    display: none !important;
}



 }  
  @media screen and (max-width: 750px) {
    .city3{
        margin-left: 0px;
    }
    .icons{
        font-size: 17px;
        margin-left: 50px;
    }
    .connentions{
        display: none !important;
    }
 
    .active{
        font-size: 15px;
    }
    .menu-tet{
        font-size: 15px;
    }
    .active-link{
        font-size: 14px;
    }

    .city3{
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .home{
        border-bottom:none !important;

    }
    .city4{
        display: none !important;
    }
 .card-ing{
    margin-left: 170px; 

}
.city-1{
    display: none !important;
}
.search-bar{
   margin-left: 10px !important;
   display: none !important;
}
.city-2{
    width: 20rem;
}
.city-3{
    display: none !important;
} 
.city2{
    font-size: 13px;
} 


 } 
 @media screen and (max-width: 780px) {
    .city3{
        margin-left: 0px;
    }
    .city2{
        display: none !important;
    }
    .city2{
        font-size: 13px;
    } 

    .city3{
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .home{
        border-bottom:none !important;

    }
    .city4{
        display: none !important;
    } 
 .card-ing{
    margin-left: 170px;

}
.city-1{
    display: none !important;
}
.search-bar{
   margin-left: 10px !important;
   display: none !important;
}
.city-2{
    width: 20rem;
}
.city-3{
    display: none !important;
}
.active{
    font-size: 12px;
}



} 


 
 @media screen and (max-width: 700px) {
    .city3{
        margin-left: 0px;
    }
    .city2{
        display: none !important;
    }

    .city3{
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .home{
        border-bottom:none !important;

    }
    .city4{
        display: none !important;
    } 
 .card-ing{
    margin-left: 170px;

}
.city-1{
    display: none !important;
}
.search-bar{
   margin-left: 10px !important;
   display: none !important;
}
.city-2{
    width: 20rem;
}
.city-3{
    display: none !important;
}



} 

.city-11{
    font-weight: 500;
}

.imag-3{
    z-index: 2;
    position: absolute;
} 
.btn-imag{
    background-color: rgb(245, 178, 91);
}

.imag-5{
    font-size: 13px;
}
.city9{
    font-size: 16px;
}
.imag4{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.note-9{
     background-image: linear-gradient(to right, rgb(148, 147, 147),rgb(185, 183, 183), lightgrey, gray);  
    border-radius: 8px 8px 0px 0px;
    
}
.card1{
    font-size: 13px;
} 

.button-drop{
    font-size: 13px;
}
.user-icon{
    font-size: 50px;
}
.btn-profile{
    font-size: 14px;
    width: 250px;
}

.links-2:hover{
border-bottom: 1px solid gray;
}
.button-4{
    font-size: 14px;
}
.business-class{
    width: 37rem;
    /* height: 88vh; */
}
.icon-1{
    font-size: 14px;
    font-weight: 500;
}
.icon-2{
    font-size: 14px;
    font-weight: 500;
}
.icon-3{
    font-size: 11px;
}
/* ------custom scrollbar-------- */

.city-23{
    color: peru;
    font-size: 12px;
   
}
.business-class{
    height: 550px;
    overflow-y: scroll;
}