
<link href="https://fonts.googleapis.com/css2?family=Foldit:wght@100&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Sigmar&display=swap" rel="stylesheet">
<link href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css "rel="stylesheet">

<nav class="navbar  navbar-expand-sm navbar-light bg-white shadow-sm p-0 justify-content-between">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="../../../assets/linked.png" alt="" width="40" height="35">
            
          </a>
          <input class="form-control me-2 w-25 search-bar " type="search" placeholder="search" aria-label="Search">
      <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto mb-2  mb-lg-0  city-16">
          <li class="nav-item home p-0">
        <i class="fa fa-home  mt-2 city3  icons mx-4 p-0" aria-hidden="true"></i>
        <a class="nav-link  p-0 city2 mx-3 "  routerLink="page-1"> 
          Home</a>  
          </li>
          <li class="nav-item p-0 mx-3">
            <i class="fa fa-users  text-secondary  mt-2 city3 mx-4 p-0" aria-hidden="true"></i>
            <a class="nav-link  text-secondary  city2 p-0 "  routerLink="network"> 
              My Network </a>  
              </li>
              <li class="nav-item p-0 mx-3">
                <i class="fa fa-briefcase text-secondary mt-2  icons city3 p-0" aria-hidden="true"></i>
                <a class="nav-link   text-secondary  city2 p-0 " routerLink="jobs-page"> 
                  jobs </a>  
                  </li>
                  <li class="nav-item p-0 mx-3">
                    <i class="fa fa-commenting text-secondary icons mt-2 city3 p-0 mx-3" aria-hidden="true"></i>
                    <a class="nav-link   text-secondary p-0 city2 " aria-current="page" href="#"> 
                      Messaging</a>  
                      </li>
                      <li class="nav-item p-0 mx-3">
                        <i class="fa fa-bell text-secondary icons mt-2 city3 p-0 mx-3" aria-hidden="true"></i>
                        <a class="nav-link  text-secondary  p-0 city2" aria-current="page" href="#"> 
                          Notifications</a>  
                          </li>
                          <li class="nav-item p-0 border-end city-3">
                            <i class="fa fa-user-circle text-secondary icons mt-2 city3 p-0 mx-2" aria-hidden="true"></i>
                            <a class="nav-link  text-secondary  p-0 city2 mx-2" aria-current="page" href="#"> 
                              Me</a>  
                              </li>

          <li class="nav-item city-3 p-0 ">
            <a class="nav-link text-secondary small" ><i class="fa fa-braille icons text-secondary mx-4 " aria-hidden="true"></i>
                <br>for Bussiness</a>
          </li> 
          <li class="nav-item city-3">
            <a class="nav-link text-dark-emphasis border-dark-subtle">
                <br>Try Premium</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
<!---- navigation bar  tabs move to the next links----->
<!-- ruter link analize karta a hmara currently loaded path ko or is link ko active kar dta ha
 -->
   <!-- <ul class="nav nav-tabs bg-light">
    <li class="nav-item">
      <a class="nav-link"  routerLinkActive="active" routerLink="home-page">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active"  routerLink="about-page">About page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active"  routerLink="product-page">Product</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"  routerLink="blog-page">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active"  routerLink="Page-Not-Found">Not Found</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLinkActive="active"  routerLink="comunication-compn">Buy products</a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLinkActive="active"  routerLink="contact-us">Contact-us</a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLinkActive="active"  routerLink="contact1">Contact-1</a>
</li>


  </ul>
  <router-outlet></router-outlet>  -->






  <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent city-16">
    <ul class="navbar-nav m-auto mb-2  mb-lg-0 mx-5">
      <li class="nav-item home p-0">
    <i class="fa fa-home  mt-2 city3  icons mx-4 p-0" aria-hidden="true"></i>
    <a class="nav-link  p-0 city2 mx-3"  routerLink="page-1"> 
      Home</a>  
      </li>
      <li class="nav-item p-0 ">
        <i class="fa fa-users  text-secondary  mt-2 city3 mx-4 p-0" aria-hidden="true"></i>
        <a class="nav-link  text-secondary  city2 p-0 "  routerLink="network"> 
          My Network </a>  
          </li>
          <li class="nav-item p-0">
            <i class="fa fa-briefcase text-secondary mt-2 icons city3 mx-3 p-0" aria-hidden="true"></i>
            <a class="nav-link   text-secondary  city2 mx-3 p-0 " routerLink="jobs-page"> 
              jobs </a>  
              </li>
              <li class="nav-item p-0">
                <i class="fa fa-commenting text-secondary icons mt-2 city3 p-0 mx-4" aria-hidden="true"></i>
                <a class="nav-link   text-secondary p-0 city2 mx-2 " aria-current="page" href="#"> 
                  Messaging</a>  
                  </li>
                  <li class="nav-item p-0">
                    <i class="fa fa-bell text-secondary icons mt-2 city3 p-0 mx-4" aria-hidden="true"></i>
                    <a class="nav-link  text-secondary  p-0 city2 mx-2 " aria-current="page" href="#"> 
                      Notifications</a>  
                      </li>
                      <li class="nav-item p-0 border-end city-3">
                        <i class="fa fa-user-circle text-secondary icons mt-2 city3 p-0  mx-2" aria-hidden="true"></i>
                        <a class="nav-link  text-secondary  p-0 city2 mx-2 " aria-current="page" href="#"> 
                          Me</a>  
                          </li>

      <li class="nav-item city-3 p-0">
        <a class="nav-link text-secondary small" ><i class="fa fa-braille icons text-secondary mx-4 " aria-hidden="true"></i>
            <br>for Bussiness</a>
      </li> 
      <li class="nav-item city-3">
        <a class="nav-link text-dark-emphasis border-dark-subtle">
            <br>Try Premium</a>
        </li>
    </ul>
  </div> -->