


<div class="city-19">
<div class="container">
    <div class="row">
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-12 mt-4">
 
                    <div class="card bg-white shadow-sm">
                        <div class="card-body">
                            <li class=" nav-items d-flex flex-row rounded city-20">
                                <i class="fa fa-bookmark text-secondary-emphasis p-0 mt-1 card-1" aria-hidden="true"></i>
                                <a class=" nav-link text-secondary-emphasis mx-3 card-2" aria-current="page" href="#"> 
                                  My jobs </a>  
                                  </li>
                                  <div class="city-15">
                                  <li class=" nav-items  d-flex flex-row mt-4">
                                    <i class="fa fa-th-list text-secondary-emphasis mt-1 card-1" aria-hidden="true"></i>
                                    <a class=" nav-link text-secondary-emphasis mx-3 card-2" aria-current="page" href="#"> 
                                      Prefrence </a>  
                                      </li>
                                      <li class=" nav-items d-flex flex-row mt-4">
                                        <i class="fa fa-check text-secondary-emphasis mt-1  card-1" aria-hidden="true"></i>
                                        <a class=" nav-link text-secondary-emphasis mx-3 card-2" aria-current="page" href="#"> 
                                          Demonstrate skills </a>  
                                          </li>
                                          <li class=" nav-items d-flex flex-row mt-4">
                                            <i class="fa fa-file text-secondary-emphasis mt-1  card-1" aria-hidden="true"></i>
                                            <a class=" nav-link text-secondary-emphasis mx-3 card-2" aria-current="page" href="#"> 
                                              Interview Prep </a>  
                                              </li>
                                              <li class=" nav-items d-flex flex-row mt-4">
                                                <i class="fa fa-file-text text-secondary-emphasis mt-1  card-1" aria-hidden="true"></i>
                                                <a class=" nav-link text-secondary-emphasis mx-3 card-2" aria-current="page" href="#"> 
                                               Resume Builders </a>  
                                                  </li>
                                                  <li class=" nav-items d-flex flex-row mt-4">
                                                    <i class="fa fa-video text-secondary-emphasis mt-1  card-1" aria-hidden="true"></i>
                                                    <a class=" nav-link text-secondary-emphasis mx-3 card-2" aria-current="page" href="#"> 
                                                   Job Seeker guidance </a>  
                                                      </li>
                                                      <li class=" nav-items d-flex flex-row mt-4">
                                                        <i class="fa fa-cog text-secondary-emphasis mt-1  card-1" aria-hidden="true"></i>
                                                        <a class=" nav-link text-secondary-emphasis mx-3 card-2" aria-current="page" href="#"> 
                                                       application settings</a>  
                                                          </li>
                                                        </div>
                </div>
              </div>
              <button class="btn btn-outline-primary mt-4 w-100 rounded-pill p-3 city-16"><i class="fa fa-pencil-square fs-4 mx-2 icon lh-large" aria-hidden="true"></i>post a free jobs</button>
        </div>
        
        <div class="col-xxl-6 col-xl-6 col-lg-5 col-md-8 col-sm-12 mt-4">
            <div class="card bg-white shadow-sm p-3">
                    <div class="card-3">
                        <p class="text-white  mt-3 card-4">a</p>
                </div>
                <p class="text-center fs-5">Hi anum, are you hiring?
                    <br>
                    <small class="text-secondary city-14">Post a free job and get the #Hiring frame on your profile.</small>
                </p>
                <div class="d-flex flex-row mx-2 p-0">
                    <button class="btn btn-outline-primary  rounded-pill w-50 mx-1 p-1">Yes, I'm Hiring</button>
                    <button class="btn btn-outline-primary rounded-pill w-50 mx-1 p-1">No, not right now </button>
                </div>
            </div>
            <!-- card-2 -->
            <div class="card bg-white shadow-sm mt-2">
                <div class="card-body">
                    <div class="d-flex flex-row">
                        <p class="fw-medium fs-6">Suggested job searches
                        </p>
                        <button class="btn btn-close card-button"></button>
                    </div>
                    <div class="">
                        <button class="btn btn-outline-primary rounded-pill card-buttons px-2 fw-medium"><i class="fa fa-search mx-2" aria-hidden="true"></i>markketing manager</button>
                        <button class="btn btn-outline-primary rounded-pill card-buttons px-2 fw-medium mx-1"><i class="fa fa-search mx-1" aria-hidden="true"></i>hr</button>
                        <button class="btn btn-outline-primary rounded-pill card-buttons px-2 fw-medium"><i class="fa fa-search mx-1" aria-hidden="true"></i>legal</button>
                        <button class="btn btn-outline-primary rounded-pill card-buttons px-2 fw-medium mx-1"><i class="fa fa-search mx-1" aria-hidden="true"></i>sales</button>
                        <button class="btn btn-outline-primary rounded-pill card-buttons px-2 fw-medium"><i class="fa fa-search mx-1" aria-hidden="true"></i>amazon</button>
                        <button class="btn btn-outline-primary rounded-pill card-buttons px-2 fw-medium mt-2"><i class="fa fa-search mx-1" aria-hidden="true"></i>google</button>
                        <button class="btn btn-outline-primary rounded-pill card-buttons px-2 fw-medium mx-1 mt-2"><i class="fa fa-search mx-1" aria-hidden="true"></i>analyst</button>
                    </div>
                </div>
              </div>
              <div class="card bg-white shadow-sm mt-3 p-0">
                <div class="card-body p-0">
                    <div class="d-flex flex-row p-0 mx-2 mt-3">
                        <p class="text-white city-1 bg-secondary">a</p>
                        <p class="mx-2 fw-medium city-17">See the full list of jobs where you'd be a top applicant
                            <br>
                            <img src="../../../assets/imag.jpg" alt="" class="image-2 mt-2">
                          <small class=" fw-normal text-secondary city-2">Millions of members use Premium</small>
                        </p>
                </div>
                <button class="btn city-3 rounded-pill fw-semibold mx-5">Try Premium for free</button>
                <p class=" fw-normal text-secondary city-2 mx-5 mt-2">1-month free trial. We’ll send you a reminder 7 days before your trial ends.</p>
                </div>
              </div>
              <!-- card-3 -->
              <div class="card bg-white shadow-sm mt-3 p-0">
                <div class="card-body">
                    <p class="fw-medium city-18">Recommended for your
                        <br><small class="small fw-normal city-4 text-secondary">Based on your profile and search history</small>
                     </p>

                     <div class="card bg-white shadow-sm">
                        <i class="fa fa-briefcase icons mt-3" aria-hidden="true"></i>
                        <p class="fw-medium text-center city-19">Want more jobs?
                            <br>
                           <small class="city-19 text-center text-secondary fw-normal">Click here to continue searching over 20 million jobs on LinkedIn</small>
                        </p>
                        <button class="btn btn-outline-primary w-25 rounded-pill mx-auto mb-3 city-12">Search jobs</button>
                     </div>
                    </div>
                
              </div>

        </div>
        <div class="col-xxl-4 col-xl-3 col-lg-4 col-md-8 col-sm-12 mt-2 city-13">
            <div class="card bg-white shadow-sm mt-3 p-0">
                <div class="card-body p-0 mx-3 mt-2">
                    <p class=" fw-medium">Job seeker guidance
                        <br>
                        <small class="text-secondary city-4">Recommended based on your activity</small>
                    </p>
                <div class="d-flex flex-row p-0 bg-light-subtle">
                   <a href=" #" class="small text-black fw-medium city-6 mt-2">I want to improve my Resume</a>
                   <img src="../../../../assets/aiya.jpg" alt="" class="city-5 rounded">
                </div>

                  <p class="city-7 mt-3">Explore our curated guide of expert-led courses, such as how to improve your resume and grow your network, to help you land your next opportunity.</p>
                  <p class=" small text-secondary">Show more<i class="fa fa-arrow-right text-secondary mx-3" aria-hidden="true"></i> </p>



                </div>
            </div>
            
                          <!-- text -->

                          <div class=" text-center linkedin-text mt-3">
                            <span  class="text-secondary small">About</span>
                            <span class="text-secondary m-3 text-center small">Accesibility</span>
                            <span class="text-dark small">Help center</span>
                            <span class="text-secondary small">Privacy & terms</span>
                            
                            <span class="text-secondary mx-3 small">Accesibility</span>
                            <span class="text-secondary mx-3 small">Ad choices</span>
                            <span class="text-secondary mx-3 small">Advertising</span>
                            <span class="text-dark small mx-3">Bussiness services</span>
                            <span class="text-secondary mx-3 small">Get thee linked in app</span>
                            <span class="text-secondary  small mx-3">More</span>
                            <p class="mt-2"><strong class="text-primary mx-2">Linked in</strong>Linked in corporation &copy; 2023</p>
          
                          </div> 
    
        </div>

    </div>
  </div>
</div>