
<div class="city-22">
    <div class="container">
        <div class="row mt-5">
            <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4 col-sm-12 card-notification">
                <div class="card bg-white shadow-sm mt-4  menu_text">
                    <div class="card-body">
                        <p class="fw-medium fs-6">Manage your <br> Notifications</p>
                        <div class="card-9">
                            <a href="#" class="p-0 fw-medium fs-6">View Settings</a>
                        </div>
    
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-5 col-md-8 col-sm-12">
                <div class="card bg-white shadow-sm mt-4 p-0">
                    <div class="card-body">
    <div>
        <a href="notification-page"> <button class="btn btn-success rounded-pill fw-medium">All</button></a>
        <a  href="myposts-page">  <button class="btn btn-outline-secondary rounded-pill fw-medium w-25 p-1 text-center mx-1">All Posts</button></a>
         <a  href="mentions-page"> <button type="button" class="btn btn-outline-secondary rounded-pill fw-medium w-25 p-1 text-center mx-1">Mentions</button></a>
    </div>
    </div>
    </div>
        <div class="card bg-white shadow-sm mt-4 p-0">
            <div class="card-body">
<img src="../../assets/image.svg" alt="" class="images mt-5">
<div>
    <p class="fs-4 fw-semibold text-center mt-2 mb-0">No new post activities</p>
    <p class="fs-6 fw-normal text-secondary text-center">View your previous post activity on your <br> profile</p>
    <button class="btn btn-outline-primary rounded-pill fw-medium buttons-1 px-3">View previous profile</button>
</div>
    </div>
    </div>
    </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-8 col-sm-8">
        <div class="card mt-4 linkedin-image bg-white shadow-sm">
            <img src="../../../assets/image.png" alt=""  class="image">
          </div>
                                    <!-- text -->
    
                                    <div class=" text-center linkedin-text mt-3">
                                        <span  class="text-secondary small">About</span>
                                        <span class="text-secondary m-3 text-center small">Accesibility</span>
                                        <span class="text-dark small">Help center</span>
                                        <span class="text-secondary small">Privacy & terms</span>
                                        
                                        <span class="text-secondary mx-3 small">Accesibility</span>
                                        <span class="text-secondary mx-3 small">Ad choices</span>
                                        <span class="text-secondary mx-3 small">Advertising</span>
                                        <span class="text-dark small mx-3">Bussiness services</span>
                                        <span class="text-secondary mx-3 small">Get thee linked in app</span>
                                        <span class="text-secondary  small mx-3">More</span>
                                        <p class="mt-2"><strong class="text-primary mx-2">Linked in</strong>Linked in corporation &copy; 2023</p>
                      
                                      </div> 
    </div>
    
        </div>
        </div> 
    </div>
        
    
    
    
    
    
